@font-face {
    font-family: 'TRY Clother';
    src: url('TRYClother-Regular.woff2') format('woff2'),
        url('TRYClother-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TRY Clother';
    src: url('TRYClother-Bold.woff2') format('woff2'),
        url('TRYClother-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'TRY Clother';
    src: url('TRYClother-Black.woff2') format('woff2'),
        url('TRYClother-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'TRY Clother';
    src: url('TRYClother-Light.woff2') format('woff2'),
        url('TRYClother-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

